.App {
  height: 100vh;

  .header {
    background-color: #282c34;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    .logos {
      width: 75%;
      display: flex;
      justify-content: center;

      button {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;

        .logo {
          height: 15vmin;
          pointer-events: none;
        }
      }
    }

    p {
      margin: 1rem;
      padding: 0;
    }
  }

  .container {
    height: 75vh;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
