.App {
  text-align: center;

  .header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .logos {
    width: 75%;
    display: flex;
    justify-content: center;

    button {
      border: none;
      outline: none;
      background: none;
      cursor: pointer;      

      .logo {
        height: 30vmin;
        pointer-events: none;
      }
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
